/* Some Custom Color and style component. */
*{
    font-family: 'Poppins', sans-serif;
}
.brand-theme {
    color: #4a4a4a;
}

button.btn-bg {
    background: #289bde;
}
.bg {
    background: #289bde;
}
.text-bg {
    background: #289BDE;
}

.course-tille {
    color: #8d8d8d;
}

.faq-bg {
    background: #e9f5fc;
}
.carousel-inner::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.carousel-caption{
    z-index: 2;
}
.popular-cource h1{

    font-size: 3rem;
    font-weight: 700;
}
    
.popular-cource p{

    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.cover{
    background-image: url(/Imges/working.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

